html, body {
    width:100%;
    height:100%;
    margin:0px;
    background-color:black;
}

p {
    margin-top:8px;
    margin-bottom:2px;
}

#game {
    display:block;
    position:absolute;
}

#gameWrapper {
    position:relative;
    width:100%;
    height:100%;
}

#shipStats {
    height:0px;
}

#banner {
    height: 0px;
}

.janrainContent {
    margin:150px auto;
}